@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;

  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: #23272a ;
  color: #cecece;
}
